@model IEnumerable<PortalPinGenerator.Models.Card>

@{
    ViewBag.Title = "Cards";
    int sn = 1;
}
<style>
    @@media print {
        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

            .row:before,
            .row:after {
                display: table;
                content: " ";
            }

            .row:after {
                clear: both;
            }

            .row:before,
            .row:after {
                display: table;
                content: " ";
            }

            .row:after {
                clear: both;
            }

        .col-xs-1,
        .col-xs-2,
        .col-xs-3,
        .col-xs-4,
        .col-xs-5,
        .col-xs-6,
        .col-xs-7,
        .col-xs-8,
        .col-xs-9,
        .col-xs-10,
        .col-xs-11,
        .col-xs-12,
        .col-sm-1,
        .col-sm-2,
        .col-sm-3,
        .col-sm-4,
        .col-sm-5,
        .col-sm-6,
        .col-sm-7,
        .col-sm-8,
        .col-sm-9,
        .col-sm-10,
        .col-sm-11,
        .col-sm-12,
        .col-md-1,
        .col-md-2,
        .col-md-3,
        .col-md-4,
        .col-md-5,
        .col-md-6,
        .col-md-7,
        .col-md-8,
        .col-md-9,
        .col-md-10,
        .col-md-11,
        .col-md-12,
        .col-lg-1,
        .col-lg-2,
        .col-lg-3,
        .col-lg-4,
        .col-lg-5,
        .col-lg-6,
        .col-lg-7,
        .col-lg-8,
        .col-lg-9,
        .col-lg-10,
        .col-lg-11,
        .col-lg-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
        }
    }

    @@media print {
        div {
            break-inside: avoid;
        }

        #printDiv {
            position: absolute;
            /*width: 300px;
            height: 300px;
            z-index: 15;
            top: 50%;
            left: 50%;
            margin: -150px 0 0 -150px;*/
            margin: 0 auto;
        }
    }
</style>

<div class="container" style="" id="printDiv">
    <div class="row">
        @foreach (var i in Model)
        {
            <div class="" style="float:left;width:33%;">
                <div style="">
                    <div style="height:240px;width:100%;">

                        <div style="padding: 70px 70px">
                            <h4 style="margin: 2px; padding: 2px;"><strong>PIN: @i.PinNumber</strong></h4>
                            <h4 style="margin: 2px; padding: 2px;"><strong>S/N: @i.SerialNumber</strong></h4>
                            <p style="font-size:9px;">Batch Number: [@i.BatchNumber]</p>
                            <p style="font-size:7px;margin:0;padding:0;"><i>Powered By: Exwhyzee Technollogies</i></p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
